name: Test
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          cache: true
          go-version: 'stable'
      - name: Install dependencies
        run: sudo apt-get install -y curl jq
      # https://github.com/golang/go/issues/75031
      - name: Set toolchain version
        run: go env -w GOTOOLCHAIN=go1.25.1+auto
      - name: Set up environment
        run: |
          cp config.example.yml config.yml
      - name: Run tests
        run: sudo go test -v -coverprofile="coverage.out" ./...
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          disable_search: true
          files: coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
